<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Online Reg Form</title>
    <link rel="stylesheet" href="css/custom.css">
    <script src="libs/angular.min.js"></script>
    <script src="module/module.js"></script>
    <script src="config/urlconfig.js"></script>
    <script src="factory/factory.js"></script>
    <script src="controller/controller.js"></script>
</head>

<body ng-app="regformModule" ng-controller="onlineRegController">
    <form name="onlineform" ng-submit="onlineSubmit('onlineform')" novalidate="novalidate">
        <center>
            <h1 class="flash">Welcome to Online Registeration Form 2017</h1>
            <table>


                <tr>
                    <td><label for="">User Name</label></td>
                    <td colspan="4"><input type="text" name="username" ng-model="username" pattern="[A-Za-z]{8,25}" placeholder="Enter Your Name" required/>
                        <span ng-show="onlineform.username.$touched && onlineform.username.$error.required">Name is Required </span>
                        <span ng-show="onlineform.username.$touched && onlineform.username.$error.pattern">Name Required 8 Chars </span>
                    </td>
                </tr>
                <tr>
                    <td><label for="">Password</label></td>
                    <td colspan="4"><input type="password" name="userpassword" ng-model="pwd" placeholder="Enter Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,20}" required>
                        <span ng-show="onlineform.userpassword.$touched && onlineform.userpassword.$error.required">Minimum 8 characters </span>
                        <span ng-show="onlineform.userpassword.$touched && onlineform.userpassword.$error.pattern">at least 1 uppercase letter,1 lowercase letter,1 number and 1 special character</span>
                    </td>

                </tr>
                <tr>
                    <td><label for="">Country</label></td>
                    <td colspan="4"><select name="option1" ng-model="countrySelect" ng-change="world()" required>
                    <option value="">Enter your Country</option>
                    <option ng-repeat="x in countryObject.data">{{x.name}}</option>
                </select>
                        <span ng-show="onlineform.option1.$touched && onlineform.option1.$error.required">Please Select</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="">City</label></td>
                    <td colspan="4"><select name="option2" ng-model="citySelect" required>
                    <option value="">Enter your city</option>
                    <option ng-repeat="y in cityObject.data" >{{y.city}}</option>
                </select>
                        <span ng-show="onlineform.option2.$touched && onlineform.option2.$error.required">Please Select</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="">Hobbies</label></td>
                    <td ng-repeat="obj in hobbieObject.data" class="c1"><input type="checkbox" name="hobbie" ng-model="hobbie">&nbsp;<label>{{obj.name}}</label></td>
                </tr>
            </table>
            <button type="submit" class="button button1">Submit</button> {{errorObj}} {{obj.name}}
        </center>
    </form>
</body>

</html>
